<div class="container" style="margin-top: 150px">
  <h1 style="margin-left: 35%; margin-right: 30%">Currency convernter</h1>
  <div class="row" style="margin-top: 5%">
    <div class="col-6 d-flex justify-content-center">
      <form [formGroup]="leftForm">
        <input
          type="number"
          class="form-control"
          placeholder="Value"
          [formControl]="leftForm.controls['value']"
          (change)="onLeftChanged()"
        />
        <select
          class="form-select mt-4"
          [formControl]="leftForm.controls['unit']"
          (change)="onLeftChanged()"
        >
          <option *ngFor="let option of options" [value]="option">
            {{ option }}
          </option>
        </select>
      </form>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <form [formGroup]="rightForm">
        <input
          type="number"
          class="form-control"
          placeholder="Value"
          (change)="onRightChanged()"
          [formControl]="rightForm.controls['value']"
        />
        <select
          class="form-select mt-4"
          [formControl]="rightForm.controls['unit']"
          (change)="onRightChanged()"
        >
          <option *ngFor="let option of options" [value]="option">
            {{ option }}
          </option>
        </select>
      </form>
    </div>
  </div>
</div>
